@font-face {
    font-family: 'Work Sans';
    src: url('../assets/WorkSans.ttf');
}

html {
    font-family: 'Work Sans';
}

.error {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-logo {
    width: 30%;
    margin-bottom: 2em;
}

.error-text {
    font-size: 1.3em;
    font-weight: 400;
}

.dropdown {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: transparent;
    border-radius: 7px;
    font-family: 'Work Sans';
    font-size: 1em;
    border: 2px solid gray;
    margin-bottom: 1.5em;
}

.dropdown-text {
    width: 80%;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 5px;
}

.slider {
    width: 95%;
}

.slider-ticks {
  display: flex;
  justify-content: space-between;
  color: gray;
  width: 95%;
  margin-bottom: 1.5em;
}

.slider-text {
    width: 80%;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.bounding-box {
    position: absolute;
    border: 5px #F1185C dashed;
    border-radius: 20px;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: rgb(255, 191, 108);
    border: 2px solid #ffa97b;
    font-weight: 700;
    text-align: center;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s ease-in all;
}

.button:hover {
    transform: scale(1.03);
}

.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: rgb(238, 238, 238); /* Tooltip background */
  padding: 17px 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: rgb(238, 238, 238) transparent transparent transparent; /* Matches tooltip background */
}


.tooltip-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
}

.tooltip-text {
    margin: 0;
    margin-bottom: 5px;
}

.switch {
    margin-left: 1.6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

/** Main Styling **/

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.top {
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: calc(100% - 6em);
    max-height: calc(50% - 4em);
    padding: 2em 3em;
}

.logo-container {
    height: 100%;
    width: 24%;
}

.logo {
    margin-bottom: 1.5em;
    width: 97%;
}

.camera-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 100%;
    width: 28%;
}

.camera {
    display: flex;
    align-items: end;
    flex-direction: column-reverse;
    width: 95%;
}

.camera-ref {
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px lightgray;
    width: 100%;
}

.dropdown-container {
    height: 100%;
    width: 22%;
}

.switch-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 22%;
}

.switches {
    width: 100%;
}

.bottom {
    flex-grow: 1;
    width: calc(100% - 6em);
    height: calc(50% - 3em);
    padding: 1em 3em 2em 3em;
}

.alphabets {
    height: 23%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alphabets-image {
    height: 55px;
}

.share-clear {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
    margin-left: 1.5em;
    margin-bottom: 2em;
}

.text-container {
    height: 77%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sign-container, .talk-container {
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;
}

.sign-text, .talk-text {
    white-space: pre;
    padding: 20px;
    background-color: rgb(233, 233, 233);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.text-icon {
    margin-right: 15px;
    height: min-content;
    width: 60px;
    cursor: pointer;
    transition: 0.1s ease-in all;
}

.text-icon:hover {
    transform: scale(0.96);
}

.sign-text-values {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sign-text-original {
    color: #0F78A1;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-size: 1.7em;
}
.sign-text-suggestion {
    color: #0F78A1;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-size: 1.7em;
}

.sign-text-translated {
    color: #0F78A1;
    font-weight: 600;
    margin: 0;
    font-size: 1.7em;
}

.talk-text-original {
    color: #e05d17;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    word-wrap: break-word;
    font-size: 1.7em;
}

.talk-text-translated {
    color: #e05d17;
    font-weight: 600;
    margin: 0;
    font-size: 1.7em;
}

.sign-text-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}


@media screen and (max-height: 790px) {
  .bottom {
    height: 20vh;
  }

}
@media screen and (max-height: 630px) {
  .bottom {
    height: 15vh;
  }

}